In [1]:
import pandas as pd
import urllib
import zipfile

In [2]:
import tubular
tubular.__version__

'0.3.0'

# Download dataset from the UCI Machine Learning Repository
## Define data locations

In [3]:
data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank-additional.zip"
zip_filename = "bank-additional.zip"
data_filename = "bank-additional/bank-additional-full.csv"

## Download and unzip data

In [4]:
r = urllib.request.urlretrieve(data_url, zip_filename)

In [5]:
with zipfile.ZipFile(zip_filename, "r") as zip_ref:
    
    zip_ref.extractall(".")

## Load data

In [6]:
df = pd.read_csv(data_filename, sep=";")
df.shape

(41188, 21)

In [7]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no